#         ______ ______ 
#         | ___ \| ___ \
#  __   __| |_/ /| |_/ /
#  \ \ / /|    / |  __/ 
#   \ V / | |\ \ | |    
#    \_/  \_| \_|\_|    
#                       
#                       

## FiveM Documentation
## https://aka.cfx.re/server-commands

## vRP Documentation
## https://docs.vrp-framework.com

## You CAN edit the following:
{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "default, deployer, vrp, vrp framework"

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} built with {{recipeName}} by {{recipeAuthor}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "root-AQ" # replace with your language and location code, like en-US, pt-BR, etc
load_server_icon vrp-logo.png
sv_enforceGameBuild 3258 #Bottom Dollar Bounties
set resources_useSystemChat true
set mysql_connection_string "{{dbConnectionString}}"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

######################################
###### FiveM Required Resources ######
######################################
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog

##########################
###### Dependencies ######
##########################


######################
###### vRP Base ######
######################
ensure vrp_oxmysql
ensure vrp


#########################
###### vRP Scripts ######
#########################
ensure [vrp]


################################
###### Standalone Scripts ######
################################
ensure [standalone]


######################
###### Map Mods ######
######################
ensure [map]


###########################
###### Clothing Mods ######
###########################



#########################
###### Weapon Mods ######
#########################



######################
###### Vehicles ######
######################



##########################################
###### FiveM Server Config Settings ######
##########################################

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
rcon_password "VRP"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Nested configs!
#exec server_internal.cfg

# convars which can be used in scripts
set temp_convar "vRP Framework"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
sv_master1 ""

# Hide player endpoints in external log output.
sv_endpointprivacy true

# enable OneSync with default configuration (required for server-side state awareness)
#onesync_enabled true


#########################
###### Permissions ######
#########################

# Add system admins
add_ace group.admin command allow # allow all commands
{{addPrincipalsMaster}}

# Resources
add_ace resource.vrp command allow # Allow qb-core to execute commands

# Gods
add_ace vrp.superadmin command allow # Allow all commands

# Inheritance
add_principal vrp.superadmin group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal vrp.superadmin vrp.admin # Allow gods access to admin commands
add_principal vrp.admin vrp.mod # Allow admins access to mod commands